.btn-1 {
    background: #558AC0;
    /* 背景顏色為藍色 */
    color: rgb(239, 239, 239);
    /* 文字顏色為白色 */
    border: none;
    /* 移除邊框 */
    padding: 10px 20px;
    /* 設定內邊距 */
    border-radius: 5px;
    /* 設定圓角 */
    cursor: pointer;
    /* 顯示為手型游標 */
    transition: background-color 0.3s, color 0.3s;
    /* 添加漸變效果 */
    padding: 5px 5px;
    width: 100px;
    font-size: 14px;
}

.btn-1:hover {
    background-color: #E69F50;
    /* 滑鼠懸停時背景顏色變為深藍色 */
    color: rgb(239, 239, 239);
}

.btn-2 {
    color: #558AC0;
    /* 文字顏色為白色 */
    border-color: #558AC0;
    /* 移除邊框 */
    padding: 10px 20px;
    /* 設定內邊距 */
    border-radius: 5px;
    /* 設定圓角 */
    cursor: pointer;
    /* 顯示為手型游標 */
    transition: background-color 0.3s, color 0.3s;
    /* 添加漸變效果 */
    padding: 5px 5px;
    width: 100px;
    font-size: 14px;
}

.btn-2:hover {
    background-color: #E69F50;
    /* 滑鼠懸停時背景顏色變為深藍色 */
    color: rgb(239, 239, 239);
}

.card-img-top {
    width: 100%;
    height: 200px;
    /* 或您希望的任何其他高度 */
    object-fit: cover;
    /* 填充圖片，保持比例不變 */
}

.card-text {
    max-height: 100px;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.card-text.expanded {
    max-height: none;
}

.custom-button {
    background: #558AC0;
    /* 背景顏色為藍色 */
    color: rgb(239, 239, 239);
    /* 文字顏色為白色 */
    border: none;
    /* 移除邊框 */
    padding: 10px 20px;
    /* 設定內邊距 */
    border-radius: 5px;
    /* 設定圓角 */
    cursor: pointer;
    /* 顯示為手型游標 */
    transition: background-color 0.3s, color 0.3s;
    /* 添加漸變效果 */
    padding: 5px 5px;
    width: 100px;
    font-size: 14px;
    margin-top: 1rem;
}

.custom-button:hover {
    background-color: #E69F50;
    /* 滑鼠懸停時背景顏色變為深藍色 */
    color: rgb(239, 239, 239);
}

.carousel-control-prev,
.carousel-control-next {
    width: 30px;
    /* 調整按鈕寬度 */
    height: 30px;
    /* 調整按鈕高度 */
    font-size: 50px;
    /* 調整內部圖標大小 */
    padding: 5px;
    /* 調整按鈕內邊距 */
    align-self: center;
    /* 垂直置中 */
    transition: background-color 0.3s, color 0.3s;
    /* 添加漸變效果 */
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: #558AC0;
    /* 設置按鈕鼠標懸停時的背景顏色 */
}

.carousel-control-prev {
    margin-right: auto;
    /* 左側對齊 */
}

.carousel-control-next {
    margin-left: auto;
    /* 右側對齊 */
}

.bg-image {
    background-image: url('seaart.jpg');
    /* 替換 'your-image.jpg' 為您的圖片路徑 */
    background-size: cover;
    background-position: center;
    height: 100vh;
    /* 設定背景高度為視窗高度 */
}

.white-box {
    top: 0;
    left: 0;
    width: 80%;
    /* 調整白色方塊的寬度 */
    height: 100vh;
    /* 調整白色方塊的高度 */
    background-color: white;
    /* 白色背景 */
    background: linear-gradient(to right, white, rgba(255, 255, 255, 0));
    /* 使用 linear-gradient 實現右側透明度漸變 */
}

.text-container-seaart {
    width: 45%;
    display: flex;
    justify-content: center;
    /* 水平置中 */
    align-items: center;
    /* 垂直置中 */
    height: 100vh;
    /* 設定容器的高度 */
}

.text-vertical-center {
    text-align: center;
    /* 文字水平置中 */
}

@media (max-width: 767px) {
    .bg-image {
        background-image: url('seaart.jpg');
        /* 替換 'your-image.jpg' 為您的圖片路徑 */
        background-size: cover;
        background-position: center;
        height: 100vh;
        /* 設定背景高度為視窗高度 */
    }
    .white-box {
        bottom: 0;
        width: 100%;
        /* 調整白色方塊的寬度 */
        height: 100vh;
        /* 調整白色方塊的高度 */
        background-color: white;
        /* 白色背景 */
        background: linear-gradient(to top, white, rgba(255, 255, 255, 0));
        /* 使用 linear-gradient 實現右側透明度漸變 */
    }
    .text-container-seaart {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        /* 水平置中 */
        align-items: end;
        /* 垂直置中 */
        height: 100vh;
        /* 設定容器的高度 */
    }
    
}

.bg-trash {
    background-image: url('trashart.png');
    /* 替換 'your-image.jpg' 為您的圖片路徑 */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    /* 設定背景高度為視窗高度 */
}

.bg-trash .container {
    width: 100%;
}

.bg-trash h2,
.bg-trash p {
    font-weight: 900;
    color: white;
    font-size: 28px;
    /* 根據需要調整字體大小 */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* 手機版 */
@media (max-width: 767px) {
    .bg-trash .row {
        flex-direction: column;
    }

    .bg-trash h2 {
        margin-top: 30px;
        /* 調整段落之間的行距 */
    }
}


/* 電腦版 */
@media (min-width: 768px) {
    .bg-trash .row {
        flex-direction: row;
    }
}


.photo img {
    filter: grayscale(100%);
    transition: filter 0.5s ease;
}

.photo img:hover {
    filter: grayscale(0%);
}

.photo {
    position: relative;
}

.photo img {
    transition: filter 0.5s ease;
}

.photo:hover img {
    filter: grayscale(0%);
}

.photo .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* 這裡的顏色可以自行調整 */
    color: white;
    padding: 10px;
    text-align: center;
    transition: opacity 0.5s ease;
    opacity: 0;
    /* 初始設為透明 */
}

.photo:hover .caption {
    opacity: 1;
    /* 鼠標移過時顯示文字 */
}

/* <!-- 頁尾 --> */

.footer {
    background-color: #f2f2f2;
    padding: 30px 0;
    margin-top: auto; /* 讓頁尾置底 */
}

.footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    margin: 0;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    display: inline-block;
    margin-right: 10px;
}

.footer ul li:last-child {
    margin-right: 0;
}

.footer ul li a {
    color: #333;
    font-size: 12px;
}

.logo {
    max-width: 100px; /* 調整 logo 的最大寬度 */
}



body {
    overflow-x: hidden;
}